* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/background.jpg") center/cover;
    
}

i{
    font-size: 30px;
}

.container {
    width: 380px;
    background: rgba(255,255,255,.2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 20px;
    color: white;
}

/* SEARCH */
.search-box {
    
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    text-transform: uppercase;
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.753);
    background: transparent;
    color: white;
    outline: none;
}

.search-box button {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* ERROR */
.error-box {
    display: none;
    text-align: center;
}

.error-box img {
    width: 150px;
    margin-bottom: 10px;
}

/* WEATHER */
.weather-box {
    display: none;
    text-align: center;
}

.weather-icon {
    width: 200px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% , 100% {transform: translateY(0); }
    50% {transform: translateY(-8px); }
}

.temp {
    font-size: 48px;
    margin: 10px 0;
}

.desc {
    font-size: 18px;
    margin-bottom: 50px;
    text-transform: capitalize;
}

/* DETAILS */
.details {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}



.card {
    display: flex;
    align-items: center;
    gap: 10px;
}

